body { padding: 20px; }
.example1 textarea, .example2 textarea, .example3 textarea, .example4 textarea { min-width: 240px; font-size: 18px; }
.example3 textarea { min-height: 50px; }
/* test textarea with width: 100% (issue #4) */
.example5 { width: 400px; }
.example5 textarea { font-size: 18px; width: 100%; }
